<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-top">
            <img src="" alt="logo">
            <div class="nav-icon"></div>
        </div>
    </body>
    </header>
    <main>
        <!-- SERVICES to start -->
        <section>
        <div class="services">
            <p>
                HOUSE REPAIR
            </p>
            <h1>
                SERVICES
            </h1>
            <hr>
            <img src="" alt="">
            <p>
                PAINTING
            </p>
            <img src="" alt="">
            <p>
                CLEANING
            </p>
            <img src="" alt="">
            <p>
                PLUMBING
            </p>

        </div>
    </section>
        <!-- SERVICES to end -->



        <!-- OUR SERVICES  to start -->
        <section>
<div class="our services">
   
    <p>
        OUR SERVICES
    </p>
    <h1>
        How Can We Help You?
    </h1>
    <p>
        We specialize in making routine maintenance and emergency repair experiences worry free.
         Give us a call today to learn how simple our process truly is!
    </p>
   <button>
    <a href="https://nicepage.com/">BOOK NOW</a>
   </button>


</div>
</section>

        <!-- OUR SERVİCES to end -->

     <!-- PLUMBING to start -->
     <section>
     <div class="plumbing">
  
      
        <img src="" alt="">
        <p>
            By planning ahead you can save yourself from feeling stressed and overwhelmed.
             Our Repair Services is the handyman service provider trusted throughout Pennsylvania.
        </p>
        <h1>
            Need Help Right Away?
        </h1>
        <h2>
            Call us now: 723-123-345 
        </h2>
        <img src="" alt="">
     
    </div>
</section>
     <!-- PLUMBING to end -->



     <!-- BEST QUALITY to start -->
     <div class="quality">
        <section>
<h1>
    BEST QUALITY
</h1>
<hr>
<p>
    Company works with homeowners, contractors, realtors,
     and residential building managers to help maintain, upgrade, and repair properties
</p>
<button>
    <a href="https://nicepage.com/html-templates/preview/house-repair-and-contruction-60525?device=desktop">BOOK NOW</a>
</button>




</div>
</section>
     <!-- BEST QUALITY to end -->


     <!-- OUR SERVICES to start -->
     <section>
     <div class="our services1">
     
        <h1>
            OUR SERVICES
        </h1>
        <img src="" alt="">
        <h3>
            Painting
        </h3>
        <p>
            We'll send a multi-skilled repairman to your residential or commercial property so you save the time and...
        </p>

        <img src="" alt="">
        <h3>
            Electrical
        </h3>
        <p>
            We'll send a multi-skilled repairman to your residential or commercial property so you save the time and...
        </p>
        <img src="" alt="">
        <h3>
            Repair
        </h3>
        <p>
            We'll send a multi-skilled repairman to your residential or commercial property so you save the time and...
        </p> 
    </div>  
     </section>
     <!-- OUR SERVICES to end -->

     <!-- PLUMBING SERVICES to start -->
     <section>
     <div class="plumbing services">
       
        <p>
            ABAOUT US
        </p>
        <h1>
            Plumbing Services
        </h1>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">

   
     </div>
    </section>
     <!-- PLUMBING SERVICES to end -->

     <!-- finish main to start -->
     <section>
     <div class="finish main">
       
            <h1>
                Get your 'TO DO' list completed by a real professional!
            </h1>
            <p>
                We’re on a mission to help build long-lasting brands that shape and define an entire industry through thoughtful design.
            </p>
            <button>
            <a href="https://nicepage.com/html-templates/preview/house-repair-and-contruction-60525?device=desktop">BOOK NOW</a>
        </button>
        <button>
            <a href="https://nicepage.com/html-templates/preview/house-repair-and-contruction-60525?device=desktop">CALL US</a>
        </button>

        
     </div>
    </section>
     <!-- finish main to end -->

        
    </main>
    <footer>
        <section>
        <div class="fouter">
           
            <p>
                Sample text. Click to select the text box. Click again or double click to start editing the text.
            </p>
            <a href="https://nicepage.com/website-templates">Website Templates</a>
            <p>
                created with 
            </p>
            <a href="https://nicepage.com/">Website Builder Software.</a>
       
        </div>
    </section>
    </footer>
        
    </body>
   
</html>